
<form  [formGroup]="user" (ngSubmit)="loginUser()">
    <div class="mb-3">
  <label id="fname" class="form-label">first Name</label>
  <input type="text" class="form-control"   id="fname" formControlName="firstName"  >
  <div class="form-text" *ngIf=" firstName.touched && firstName.invalid">
  Name is required
  </div>
  </div>
  <div class="mb-3">
  <label id="lname" class="form-label">last Name</label>
  <input type="text" id="lname"  class="form-control" formControlName="lastName"  >
  <div class="form-text"  *ngIf="  lastName.touched && lastName.invalid">
  lastName is required
  </div>
  </div>  
  <div class="mb-3">
  <label id="email" class="form-label" >email</label>
  <input type="text" id="email" class="form-control" formControlName="email"  />
  <div class="form-text" *ngIf="  email.touched && email.invalid">
    Email is required
  
  </div>
  </div> 
  <div class="mb-3">
    <label id="technology"  class="form-label">technology</label>
  <input type="text" id="technology"  class="form-control" formControlName="technology" >
  <div class="form-text" *ngIf="  technology.touched && technology.invalid">
    Technology is required
  </div>
  </div>
  
  
  <button type="submit"  class="btn btn-primary"[disabled]="!user.valid || disabledFlag1" #myDOMElement >Submit</button>

  </form>
 
